body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

#beyondDoctrine {
    width: 70vmin;
    text-align: center;
    text-shadow: 2px 2px 10px white;
    background: linear-gradient(45deg, blue, darkblue);
    padding: 5px;
    border-radius: 10px 5px
}

.grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#diary, #research, #tbd {
    border-radius: 5px 3px;
    width: 30vw;
    height: 20px;
    background: linear-gradient(45deg, blue, skyblue)
}
.grid > div > a {
    
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 10px white;
}
