* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --backgroundColor1: rgb(27, 27, 94);
    --backgroundColor2: rgb(78, 35, 148);
    --linkColor: blue;
    --textColor1: rgb(224, 231, 163);
    --secondaryColor2: blue;
}


/* Hamburger / Basic Navigation */

.hamburger {
    cursor: pointer;
    padding; 16px;
    width: 32px;
}

.hamburger div {
    height: 4px;
    background: rgb(34, 34, 34);
    margin: 6px 0;
}

.nav {
    display: none;
    background: #eee;
    padding: 16px;
    max-width: 300px;
}

.nav.show {
    display: block;
}

.plug {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--textColor1);
    padding: 4px;
    background: linear-gradient(45deg, var(--backgroundColor1), var(--backgroundColor2));
    border-radius: 4px 5px;
}

hr {
    border: 1px solid var(--backgroundColor1);
}


/* Cosmic Diary Homepage */

#diary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.entry {
    padding: 20px;
    width: 100px;
    text-align: center;
    color: var(--textColor1);
    background: linear-gradient(45deg, var(--backgroundColor1), var(--backgroundColor2));
    border-radius: 5px 7px;
    text-decoration: none;
}
